/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.poke-home {
  border-radius: 20px;
}

/* input de la vista card */
.form-control-cards {
  width: 300px;
}

/* card de detalles
.card-details {
  display: flex;
  background-color: white;
  border-radius: 20px;
} */

/* letras del home */
.welcome-home {
  font-family: 'Work Sans', sans-serif;
}

/* footer
.footer-pokemon{
  margin-top: 10rem!important;
} */
